.logo {
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    font-size: 14px !important;
}

.logo-left {
    width: 90px;
    background-color: #203192;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 10px;
}

.logo-left img {
    height: 50px;
    width: auto;
}

.imprintBg {
    height: 90vh;
    margin-left: 10%;
    word-wrap: break-word;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.imprintBg h1 {
    margin-top: 50px;
}

.imprintContent {
    display: flex;
    align-items: center;
    align-items: baseline;
}

.imprintContent-right {
    margin-left: 15%;
}

.imprintContent-right div {
    margin-bottom: 32px;
}

.imprintContent-left div {
    margin-bottom: 32px;
}

.imprintBg p {
    margin-bottom: 8px;
    font-weight: bold;
}

.imprintBg span {
    display: flex;
}

.imprintBg img {
    margin-right: 12px;
}

.imprintBg a {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    margin-left: 5px;
    margin-right: 5px;
    color: rgb(99, 99, 99);
}

.reference {
    margin-top: 64px;
}

@media (max-width: 860px) {
    body {
        overflow: auto;
    }
    .imprintContent {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .imprintContent-right {
        margin: 0;
    }
    .reference {
        margin-bottom: 60px;
        margin-top: 10px;
    }
    .imprintBg {
        height: 100vh;
    }
    .imprintContent-left div {
        margin-bottom: 5px;
    }
    .imprintContent-right div {
        margin-bottom: 5px;
    }
    .footer div {
        margin-right: 0;
    }
}

@media (max-height: 820px) {
    .imprintBg h1 {
        margin: 0;
    }
}

@media (max-height: 750px) {
    body {
        font-size: 13px;
    }
}

@media (max-height: 650px) {
    body {
        font-size: 11px;
    }
}

@media (max-width: 490px) {
    .reference {
        margin-bottom: 80px;
    }
    .imprintBg {
        display: flex;
    }
    .reference {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
    }
    .imprintBg a {
        margin: 2px;
    }
    .imprintBg p {
        margin-right: 10px;
    }
}