.addTaskPopUp {
    display: flex;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    background: white;
    width: 520px;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    z-index: 3;
    padding-bottom: 40px;
}



.popUpBackgroundContainer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.bigContainerPopUp {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-top: 60px;
}

.create-task-button-popUp {
    position: fixed;
    top: 20px;
    right: 48px;
}