.parentContainer{
    margin-right: 25px;
}

.backlog-titles {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 35px;
    color: #203192;
    font-weight: bolder;
}

.backlog-task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #E8E5F6;
    border-radius: 10px;
    border-left: 5px solid red;
    margin-top: 20px;
    min-height: 100px;
}

.backlog-assignment {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.backlog-img {
    border: 1px solid white;
    border-radius: 40px;
    padding: 3px;
    width: 45px;
    height: 45px;
    margin-right: 5px;
    margin-left: 10px;
}

.backlog-bio {
    margin-left: 5px;
}

.backlog-email{
    color: blue;
}

.backlog-details {
    white-space: nowrap;
    overflow-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    /* display: block; */
    width : 200px; /* this could be defined on any parent */
}

.backlog-task-editor {
    background-color: #E8E5F6;
    border-radius: 15px;
    margin-top: 35px;
    min-height: 1000px;
}

.backlogUserImg {
    margin-left: 10px;
    border-radius: 100%;
}

.BacklogButtonLine {
    display: flex;
    justify-content: space-between;
    margin-left: 36px;
    margin-right: 36px;
    bottom: 35px;
}

.btn {
    color: #203192;
}

.callToActionBtn {
    color: white;
    background-color: #203192;
    border-radius: 10px;
    padding: 10px;
}

@media (max-width: 720px) {

    .backlogTitleCategory {
        display: none;
    }

    .backlog-category {
        display: none;
    }

    .backlog-details {
        width: 300px;
    }

}

@media (max-width: 620px) {

    .backlog-details {
        width: 250px;
    }

}

@media (max-width: 520px) {

    .backlog-bio {
        display: none;
    }

    .backlog-details {
        width: 350px;
    }
    
}