@media (max-width: 760px) {

.boardLists {
    overflow: visible;
    flex-direction: column;
    gap: 20px;
}
.singleBoards {
    min-height: 250px;
    width: 100%;
    flex-direction: row;
    overflow: auto;
    border-radius: 20px;
    column-gap: 10px;
}
.boardTask {
    min-width: 350px;
}

.boardSearchParent {
    display: none;
}
.boardBg {
    margin-left: 25px;
}
.header-line{
    z-index: 11;
}
.titelStyle {
    z-index: 1;
}
.BoardAddTaskBtn {
    display: none;
}
.boardHeadRightSide {
    align-items: center;
    height: 100px;
    justify-content: space-around;
    flex: 1;
    width: 100vw;
    max-width: 700px;
    box-sizing: border-box;
   

}
.headline h1 {
    margin: 0 !important;
}

.boardMobileAddTaskBtn {
    display: block;
}
}