body {

  font-family: 'Inter';
  font-style: normal;
  font-size: 16px;
}

p {
  margin: 0;
}

h2 {
  margin: 0;
}

.parentContainer {
  margin-right: 123px;
  height: calc(100vh - 80px);
}


.boardBg {
  margin-top: 25px;
  height: calc(100vh - (1389px));
  min-width: 10px;
  margin-right: 25px;

}

/* Board Head  */

.boardHead {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.boardHeadRightSide {
  display: flex;
  column-gap: 45px;
}

.BoardAddTaskBtn {
  height: 51px;
  width: 137px;
  background-color: #2A3647;
  border-radius: 10px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  transition: 100ms ease-in-out;

}

.BoardAddTaskBtn:hover {
  background-color: #29ABE2;
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);

}

.boardSearchParent {
  background-color: white;
  width: 251px;
  display: flex;
  align-items: center;
  height: 51px;
  border-radius: 10px;
  border: solid 1px rgba(0, 0, 0, 0.2);
}

.boardSearchBar {
  width: 200px;
  height: 35px;
  border: 0;
  border-right: solid 1px rgba(0, 0, 0, 0.2);
}

.searchBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
}

.taskBtnText {
  font-size: 21px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
}



/* Board content  */
.categoryTag {
  margin-bottom: 15px;
  height: 25px;
  border-radius: 10px;
  text-align: center;
  color: white;
  width: fit-content;
  padding: 0px 25px;
  width: fit-content;
  display: flex;
  align-items: center;
}

.boardLists {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
  overflow: auto;
  height: calc(100vh - 260px - 80px - 80px);
  padding: 5px 5px 0 5px;
  column-gap: 25px;
}

.boardTitels {
  display: flex;
  justify-content: space-between;
  overflow: auto;
  column-gap: 25px;
  padding: 0px 5px;
  padding-right: 10px;
}

.titelStyle {
  width: 250px;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 24px;

}

.centerLists {
  display: flex;
  flex-direction: column;
  height: fit-content;

}

.singleBoards {
  width: 250px;
  min-height: 200px;
  height: fit-content;

  flex-wrap: wrap;
  border-radius: 50px;
  row-gap: 35px;
  display: flex;
}

.boardTask {
  min-height: 150px;
  width: 100%;
  position: relative;
  box-shadow: 0px 0px 5px 4px rgba(0, 0, 0, 0.05);
  border-radius: 30px;
  padding: 18px 20px;
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
}

.taskDesc {
  margin: 0;
  margin-bottom: 15px;
  color: #A8A8A8;
}

.progressContainer {
  margin-top: 23px;
  display: flex;
  align-items: center;
  font-size: 12px;
  justify-content: space-between;
}

.progressBar {
  height: 8px;
  width: 138px;
  background-color: #F4F4F4;
  border-radius: 30px;
}

.progressLine {
  background-color: #29ABE2 !important;
  z-index: 999;
  border-radius: 30px;
  height: 100%;
  width: 0%;

}

.user_urgency {
  display: flex;
  margin-top: 23px;
  align-items: center;
  justify-content: space-between;
}

.assignedTo {
  display: flex;
  margin-left: 6px;
}

.assignedUser {
  height: 35px;
  width: 35px;
  background: #0190E0;
  border-radius: 58px;
  border: solid 2px rgb(255, 255, 255);
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px -6px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}


/* board scrollbar */

.boardLists::-webkit-scrollbar-thumb {
  border-radius: 100vw;
}

.boardLists::-webkit-scrollbar-button {
  width: 15px;
  height: 15px;
}



/* colors */

.tagDesign {
  background-color: #FF7A00;
}

.tagMarketing {
  background-color: #305EFF;
}

.tagSales {
  background-color: #FC71FF;
}

.tagBackoffice {
  background-color: #1DC8B3;
}

.tagMedia {
  background-color: #FFC701;
}

/* Task Information popup  */

.moreBoardInfo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0%);
  background-color: #ffffff;
  width: 623px;
  height: 80vh;
  z-index: 9999;
  border-radius: 30px;
  overflow-x: auto;
  row-gap: 25px;
  display: flex;
  box-shadow: 0px 0px 75px -10px rgba(0,0,0,0.75);
}
 .moreTaskInfo {
  padding: 50px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  position: relative;
 }
 .infoHeadline {
  font-size: 35px;
  margin: -50px 0;
 }

 .infoDecription {
  font-size: 21px;
 }
 .infoDueDate {
  display: flex;
align-items: center;
column-gap: 25px;
font-size: 21px;
 }
 .infoDueDate h2 {
font-size: 21px;
 }
 .infoPriority {
  display: flex;
  column-gap: 25px;
  align-items: center;

 }
 .infoPriority h2 {
  font-size: 21px;
 }

 .infoAssignedTo h2 {
  font-size: 21px;

 }
 .infoAssignedUser {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
 }

 .infoUser_name {
  display: flex;
  align-items: center;
  column-gap: 25px;
  font-size: 21px;
 }

 .infoClose {
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 42px;
  margin-right: 42px;
  cursor: pointer;
 }

 .infoAssignedUserPic {
  height: 45px;
  width: 45px;
  background: #0190E0;
  border-radius: 58px;
  border: solid 2px rgb(255, 255, 255);
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px -6px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}


 /* Priority tags */

 .infoPrioHigh {
  height: 33px;
  width: fit-content;
  padding: 4px 18px;
  background-color: #FF3D00;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  font-size: 21px;
  color: white;
  column-gap: 10px;
 }
 .infoPrioHigh img {
  filter: brightness(200);
 }
