
body {

  font-family: 'Inter';
    font-style: normal;
    font-size: 16px;
}

p {
  margin: 0;
}

h2 {
  margin: 0;
  margin-bottom: 37px;
}


.boardBg {
  margin-top: 25px;
  height: calc(100vh - (1389px));
  min-width: 10px;
  margin-right: 25px;
}

.boardLists {
  display: flex;
  justify-content: space-evenly;
  overflow: auto;
}

.boardLists::-webkit-scrollbar-thumb {
  border-radius: 100vw;
}

.boardLists::-webkit-scrollbar-button {
  width: 15px;
  height: 15px;
}


.singleBoards {
  width: 300px;
  min-height: 200px;
  height: 100%;
  margin-bottom: 24px;
  flex-wrap: wrap;
  border-radius: 10px;
  border-radius: 50px;
}

.singleBoards:hover {
  background-color: #faf8ff;
}

.centerLists {
  display: flex;
  flex-direction: column;
  margin-right: 25px;

  
  height: calc(100vh - 134px);
}

.boardTask {

  min-height: 150px;
  width: 100%;
 
  position: relative;
  display: flex;
  box-shadow: 0px 0px 5px 4px rgba(0, 0, 0, 0.05);
  border-radius: 30px;
  padding: 10px 20px 10px 20px;
  box-sizing: border-box;
  flex-direction: column;
  background-color: rgb(255, 255, 255);

}





.urgencyColor-low {
  margin-bottom: 15px;
  height: 25px;
  border-radius: 7px;
  text-align: center;
  color: white;
  background-color:#008148;
}

.urgencyColor-medium {
  margin-bottom: 15px;
  height: 25px;
  border-radius: 7px;
  text-align: center;
  color: white;
  background-color: #AF2BBF;
}

.urgencyColor-high {
  margin-bottom: 15px;
  height: 25px;
  border-radius: 7px;
  text-align: center;
  color: white;
  background-color: #AE1716;

}

.urgencyColor-done {
  background-color: rgb(1, 212, 36);
}

.taskDesc {
  margin: 0;
  margin-bottom: 15px;
}





@media (max-width: 1575px) {

  .boardLists {
    justify-content: flex-start;
  }


}