
h4 {
    
    margin: 0 0 10px 0;
}
 p { margin: 0;}

 

.boardBg {
    margin-top: 25px;
    height: calc(100vh - 134px);
    min-width: 10px;
    border: 1px solid rgba(0, 0, 0, 0.189);
    border-radius: 15px;
    margin-right: 25px;
}
.boardLists {
    display: flex;
    justify-content: space-evenly;
    overflow: auto;
}
.boardLists::-webkit-scrollbar-thumb {
    border-radius: 100vw;
}
.boardLists::-webkit-scrollbar-button {
    width: 15px;
    height: 15px;
  }
  

.singleBoards {
    width: 300px;
    min-height: 200px;
    height: 100%;
    background-color: rgba(28, 1, 166, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 24px;
    flex-wrap: wrap;
    border-radius: 10px;
}
.centerLists {
    display: flex;
    flex-direction: column;
    margin: 0 25px 0 25px;
    
    align-items: center;
    height: calc(100vh - 134px);
}
.boardTask {
    height: 100px;
    width: 100%;
    border: 1px solid black;
    border-left: 3px solid rgb(0, 0, 0);
    position: relative;
    display: flex;
    border-radius: 10px;
    padding: 10px 20px 10px 20px;
    box-sizing: border-box;
}
.boardTask:hover {
    background-color: rgba(11, 15, 92, 0.113);
}

.boardTaskColor {
    position: absolute;
    top: 5px;
    bottom: 5px;
    left: 0px;
    width: 10px;
    border-radius: 10px;
    box-shadow: 17px 0px 40px 0px rgba(0, 0, 0, 0.329);
}
 .urgencyColor-low {
    background-color: rgb(246, 255, 0);
 }
 .urgencyColor-medium {
    background-color: rgb(255, 174, 0);
 }
 .urgencyColor-high {
    background-color: rgb(255, 0, 0);

 } 
 .urgencyColor-done {
    background-color: rgb(1, 212, 36);
 }

 .taskDesc {
    margin: 0;
    overflow: hidden;
 }

 @media (max-width: 1575px) {
    
.boardLists {
    justify-content: flex-start;
}


 }