.parentContainer {
    display: flex;
    margin-left: 232px !important;
    margin-top: 0 !important;
} 

/* Contact Book */
.contactBook {
    width: 453px;
    height: calc(100vh - 80px);
    left: 0;
    top: 0;
    background: #FFFFFF;
    box-shadow: 4px 0px 6px rgba(0, 0, 0, 0.08);
    overflow-y: scroll;
}

.contactList {
    justify-content: center;
    margin-left: 48px;
    margin-right: 48px;
    width: 350px;
    background: #FFFFFF;
}

.listLetter {
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 10px;
    width: 357px;
    height: 60px;
    font-weight: 400;
    font-size: 21px;
}

.listSeperator {
    width: 323px;
    height: 1px;
    background-color: #D1D1D1;
    border-radius: 3px;
    margin-bottom: 10px;
}

.listContact {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 15px 25px;
    gap: 35px;
    box-sizing: border-box;
    width: 357px;
    height: 79px;
    background: #FFFFFF;
    border-radius: 10px;
    transition: 225ms;
}

.listContact:hover {
    cursor: pointer;
    background: #f1f1f1;
}

.listContact:hover .listContactInitials {
    scale: 0.9;
}

.listContactInitials {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 42px;
    height: 42px;
    color: #FFFFFF;
    border-radius: 100%;
    transition: 225ms;
}

.listContactInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 5px;
    max-width: 180px;
}

/* Color Example */
.bgOr {
    background-color: #FF7A00;
}
.bgLp {
    background-color: #9327FF;
}
.bgLb {
    background-color: #29ABE2;
}
.bgRo {
    background-color: #FC71FF;
}
.bgLg{
    background-color: #02CF2F;
}
.bgDr {
    background-color: #AF1616;
}
.bgDp {
    background-color: #462F8A;
}

/* Scrollbar */
.contactBook::-webkit-scrollbar-thumb {
    border-radius: 7px;
    background: #A8A8A8;
}

.contactBook::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Scrollbar Buttons */
::-webkit-scrollbar-button:single-button {
    background-color: #FFFFFF;
    display: block;
    background-repeat: no-repeat;
}

/* Scrollbar Up */
::-webkit-scrollbar-button:single-button:vertical:decrement {
    height: 15px;
    width: 25px;
    background-position: center 4px;
    background-image: url("../img/arrwoUp.svg");
}

/* Scrollbar Down */
::-webkit-scrollbar-button:single-button:vertical:increment {
    height: 15px;
    width: 25px;
    background-position: center 2px;
    background-image: url("../img/arrowDown.svg");
}

/* Contact Infos */
.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 21px;
    margin-left: 80px;
}

.contactHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 100px;
    height: 120px;
    margin-left: 40px;
}

.contactScale {
    scale: 3;
}

.contactInfo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.contactName {
    font-weight: 500;
    font-size: 47px;
}

.contactAddTaskBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 13px;
    margin-top: 18px;
}

.addTaskBtnText {
    font-weight: 400;
    font-size: 16px;
    color:#29ABE2;
}

.addTaskBtnImg {
    filter: invert(73%) sepia(45%) saturate(5168%) hue-rotate(165deg) brightness(94%) contrast(88%);
}

.contactInformationHead {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 59px;
    height: 74px;
}

.contactInformationTitle {
    font-weight: 400;
    font-size: 21px;
}

.editContactBtn {
    display: flex;
    align-items: center;
    gap: 10px;
}

.editContactBtn span {
    font-weight: 400;
    font-size: 16px;
    color: #2A3647;
}

.contactAdressInformations {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 22px;
    width: 140px;
    height: 128px;
}

.contactAdressSegment {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    width: 140px;
    height: 53px;
}

.contactAdressTitle {
    font-weight: 700;
    font-size: 16px;
}

.contactAdressLink {
    font-weight: 400;
    font-size: 16px;
    color: #007CEE;
}

.newContactBtn {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 18px;
    padding: 18px 10px;
    gap: 10px;
    position: absolute;
    width: 193px;
    height: 53px;
    right: 80px;
    bottom: 60px;
    background: #2A3647;
    border-radius: 10px;
}

.newContactBtn:hover {
    cursor: pointer;
    background-color: #29ABE2;
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

/* Contact Overlay */
.pageMask {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.6);
}

.contactOverlay {
    display: flex;
    width: 1212px;
    height: 594px;
    z-index: 11;
    background: #FFFFFF;
    border-radius: 30px;
}

.overlayLeft {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 66px 46px;
    gap: 12px;
    border-top-left-radius:  27px;
    border-bottom-left-radius: 27px;
    width: 463px;    
    background: #2A3647;
    color: #FFFFFF;
}

.overlayHealine {
    font-weight: 700;
    font-size: 61px;
}

.overlaySubheadline {
    font-weight: 400;
    font-size: 27px;
}

.overlaySperator {
    height: 3px;
    width: 90px;
    background-color: #29ABE2;
}

.overlayClose {
    position: relative;
    top: 20px;
    left: 610px;
}

.overlayClose:hover {
    cursor: pointer;
}

.overlayUserImg {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 10px;
    position: relative;
    width: 120px;
    height: 120px;
    top: 160px;
    left: 20px;
    background-color: white;
    border-radius: 100%;
}

.overlayInputSection {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 29px;
    position: relative;
    width: 422px;
    height: 271px;
    left: 170px;
}

.overlayInput {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 13px 21px;
    gap: 10px;
    width: 422px;
    height: 51px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
}

.overlayBtnSection {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25px;
    width: 369px;
    height: 61px;
}

.overlayCancelBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 18px 10px;
    gap: 10px;
    width: 136px;
    height: 61px;
    border: 1px solid #2A3647;
    border-radius: 10px;
    font-weight: 400;
    font-size: 21px;
    color: #2A3647;
}

.overlayCancelBtn:hover {
    color: #29ABE2;
    border-color: #29ABE2;
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.overlayCancelBtn img {
    width: 24px;
    height: 24px;
}

.overlayCancelBtn:hover img {
    filter: brightness(0) saturate(100%) invert(73%) sepia(69%) saturate(3444%) hue-rotate(166deg) brightness(90%) contrast(97%);
}

.overlayCreateBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 18px 10px;
    gap: 10px;
    width: 208px;
    height: 61px;
    background: #2A3647;
    border-radius: 10px;
    font-weight: 700;
    font-size: 21px;
    color: #FFFFFF;
}

.overlayCreateBtn:hover {
    background-color: #29ABE2;
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}