body {
    margin: 0;
    font-family: 'Inter';
    font-style: normal;
    font-size: 16px;
    background-color: #F5F5F5;
}

.main-container-login {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 200px;
}

.logo-container {
    position: absolute;
    left: 80px;
    top: 60px;
    cursor: pointer;
}

.logo-container img {
    width: 100px;
    height: 121px;
}

.login-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    min-width: 330px;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 35px 0px;
    gap: 35px;
    width: 700px;
    height: 435px;
    /* white */
    background: #FFFFFF;
    /* shadoe backlog box */
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
    border-radius: 30px;
}

.login-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 0px;
    gap: 24px;
    height: 97px;
    font-weight: 700;
    font-size: 50px;
    line-height: 120%;
}

.back-img-container {
    display: flex;
    position: absolute;
    bottom: 70%;
    right: 107%;
}

.back-img-container img {
    width: 26px;
    height: 26px;
    cursor: pointer;
}

.horizonal-line {
    width: 150px;
    border: 3px solid #29ABE2;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 30px;
    width: 422px;
}

.paragraph {
    display: flex;
    justify-content: center;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    text-align: center;
    color: #000000;
}

.input-login {
    box-sizing: border-box;
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 13px 21px;
    gap: 10px;
    width: 422px;
    height: 51px;
    background: #FFFFFF;
    /* Style */
    border: 1px solid #D1D1D1;
    border-radius: 10px;
}

.input-img {
    display: flex;
    align-items: center;
    flex-direction: row;
    position: relative;
}

.input-img img {
    position: absolute;
    right: 3%;
}

.login-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 35px;
    width: 341px;
    height: 51px;
    margin-left: 40px;
}

.login-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 0px;
    gap: 10px;
    width: 220px;
    height: 51px;
    background: #2A3647;
    border-radius: 8px;
    border: none;
    font-weight: 700;
    font-size: 21px;
    line-height: 120%;
    /* or 25px */
    color: #FFFFFF;
    cursor: pointer;
}

.login-button:hover {
    transition: all 100ms ease-in-out;
    transform: scale(1.05);
    background-color: #29ABE2;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}





@media (max-width: 1200px) {

    .logo-container img {
        width: 70px;
        height: 90px;
    }
}



@media (max-width: 700px) {
    .log-in-headline {
        display: flex;
        justify-content: center;
        position: absolute;
        right: 20%;
        top: auto;
        bottom: 10%;
        left: 20%;
        z-index: 999;
        height: 60px;
    }
    .main-container-login {
        margin-top: 170px;
    }
    .logo-container {
        left: 26px;
        top: 52px;
    }
}
@media (max-width: 770px) {
    .back-img-container {
        display: flex;
        position: absolute;
        bottom: -386%;
        right: 45%;
    }
    .login-container {
        height: 490px;
    }
}

@media (max-width: 550px) {
    .login-header {
        font-size: 35px;
    }
    .paragraph {
        font-size: 16px;
    }
}

@media (max-width: 470px) {
    .main-container-login {
        margin-top: 140px;
    }

    .form-container {
        align-items: center;
    }
    .checkbox-container {
        margin-left: 0;
    }
    .login-btn {
        margin-left: 0;
        width: auto;
    }
    .sign-up-container {
        gap: 16px;
    }
    .input-login {
        width: 407px;
    }
    .logo-container {
        left: 26px;
        top: 26px;
    }

}
@media (max-width: 460px) {
    .input-login {
        width: 370px;
    }
    .sign-up-container {
        font-size: 19px;
    }
}
@media (max-width: 450px) {

    .form-container {
        width: 400px;
    }

}


@media (max-width: 414px) {
    .form-container {
        width: 380px;
    }
    .input-login {
        width: 340px;
    }
}
@media (max-width: 400px) {
    .login-header {
        font-size: 20px;
    }
    .paragraph {
        font-size: 14px;
    }
}

@media (max-width: 384px) {
    .form-container {
        width: 350px;
    }
    .input-login {
        width: 310px;
    }
    .checkbox-container {
        gap: 14px;
    }
    .sign-up-container {
        font-size: 14px;
    }
}
@media (max-width: 360px) {
    .form-container {
        width: 320px;
    }
    .input-login {
        width: 280px;
    }
}

@media (max-width: 350px) {
    .checkbox-container {
        font-size: 14px;
    }
}
@media (max-width: 340px) {
    .guest-container {
        left: 23.5%;
    }
    .form-container {
        width: 300px;
    }
    .input-login {
        width: 260px;
    }
}
@media (max-width: 330px) {
    .login-header {
        width: auto;
    }
}
@media (max-width: 300px) {
    .form-container {
        width: 280px;
    }
    .input-login {
        width: 240px;
    }
}