/** Header **/

.header {
    display: flex;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    width: 124px;
    flex-direction: column;
    justify-content: space-between;
    background-color: #203192;
}

.headerTop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navbar {
    width: 100%;
}

.navbar div {
    margin-top: 20px;
    margin-bottom: 15px;
    padding-left: 24px;
    cursor: pointer;
    transition: all 120ms ease-in-out;
}

.navbar div:hover {
    transition: all 120ms ease-in-out;
    border-left: 5px solid white;
}

.active {
    border-left: 4px solid white;
}

.navbar a {
    color: #D8D8D8;
    text-align: left;
    text-decoration: none;
}

.navbar a:hover {
    color: white;
    transition: all 200ms ease-in-out;
}

.headerTop img {
    width: 55px;
    height: 55px;
    object-fit: contain;
    margin-top: 25px;
    margin-bottom: 25px;
    cursor: pointer;
}

.headerBottom {
    width: 100%;
    height: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
}

.headerBottom a {
    width: 100%;
    text-align: center;
    text-decoration: none;
    margin-bottom: 16px;
    color: #D8D8D8;
    transition: all 100ms ease-in-out;
}

.headerBottom a:hover {
    transition: all 100ms ease-in-out;
    border-left: 8px solid white;
}

.headerResponsive {
    display: none;
}

#activeUser {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#activeUser img {
    border: 1px solid white;
    border-radius: 40px;
    padding: 3px;
    width: 45px;
    height: 45px;
}

#activeUser p {
    margin: 8px;
    color: white;
    font-size: 14px;
    margin-bottom: 16px;
}


/***     Animation      ***/

.growIn {
    animation: grow-in 200ms ease-in-out;
    transform-origin: 100% 0%
}

.growOut {
    animation: grow-out 200ms ease-in-out;
    transform-origin: 100% 0%
}

@keyframes grow-in {
    0% {
        transform: scale(0);
        -webkit-transform: scale(0);
    }
    100% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}

@keyframes grow-out {
    0% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
    100% {
        transform: scale(0);
        -webkit-transform: scale(0);
    }
}


/***     Responsive     ***/

@media (max-width: 720px) {
    .header {
        display: none;
    }
    .headerResponsive {
        display: flex !important;
        flex-direction: column;
        position: absolute;
        top: 20px;
        right: 1.5%;
        overflow: hidden;
        height: 80%;
        align-items: baseline;
        z-index: 100;
    }
    #responsiveNavButton {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        padding: unset;
    }
    .responsiveMenu {
        width: 100%;
        display: flex;
        align-items: flex-end;
        flex-direction: column;
        margin-top: 29px;
        transition: all 225ms ease-in-out;
        background-color: #203192;
        border-radius: 10px;
    }
    .responsiveMenu img {
        width: 24px;
        height: 24px;
        padding: 8px;
        margin: 8px;
        border-radius: 10px;
    }
    .responsiveMenu div {
        margin: 8px;
        padding: 8px;
        border-radius: 15px;
        font-size: 14px;
    }
}