body {
    margin: 0;
    font-family: 'Inter';
    font-style: normal;
    font-size: 16px;
    background-color: #F5F5F5;
}

.main-container-login {
    /* position: relative; */
    height: fit-content;
    width: auto;
}

.logo-container {
    position: absolute;
    left: 80px;
    top: 60px;
    cursor: pointer;
}

.logo-container img {
    width: 100px;
    height: 121px;
}

.login-content {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 31%;
    top: 24%;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 35px 0px;
    gap: 35px;
    width: 700px;
    height: 435px;
    /* white */
    background: #FFFFFF;
    /* shadoe backlog box */
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
    border-radius: 30px;
}

.login-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 0px;
    gap: 24px;
    height: 97px;
    font-weight: 700;
    font-size: 50px;
    line-height: 120%;
}

.back-img-container {
    display: flex;
    position: absolute;
    bottom: 70%;
    right: 107%;
}

.back-img-container img {
    width: 26px;
    height: 26px;
}

.horizonal-line {
    width: 150px;
    border: 3px solid #29ABE2;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 30px;
    width: 422px;
}

.paragraph {
    display: flex;
    justify-content: center !important;
    width: 426px;
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    text-align: center;
    color: #000000;
}

.input-login {
    box-sizing: border-box;
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 13px 21px;
    gap: 10px;
    width: 422px;
    height: 51px;
    background: #FFFFFF;
    /* Style */
    border: 1px solid #D1D1D1;
    border-radius: 10px;
}

.input-img {
    display: flex;
    align-items: center;
    flex-direction: row;
    position: relative;
}

.input-img img {
    position: absolute;
    right: 3%;
}

.login-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 35px;
    width: 341px;
    height: 51px;
    margin-left: 40px;
}

.login-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 0px;
    gap: 10px;
    width: 220px;
    height: 51px;
    background: #2A3647;
    border-radius: 8px;
    border: none;
    font-weight: 700;
    font-size: 21px;
    line-height: 120%;
    /* or 25px */
    color: #FFFFFF;
    cursor: pointer;
}

.login-button:hover {
    transition: all 100ms ease-in-out;
    transform: scale(1.05);
    background-color: #29ABE2;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}