/**                                            general style                                            **/

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    width: 100%;
    height: fit-content;
    font-family: 'Inter';
    font-style: normal;
    font-size: 16px;
    background-color: #F5F5F5;
}

a {
    text-decoration: none;
    font-family: 'Inter';
    color: rgb(240, 240, 240);
}

button {
    background-color: unset;
    border: unset;
    cursor: pointer;
    font-family: 'Inter';
}

input {
    font-family: 'Inter';
}

.d-none {
    display: none !important;
}

.noScroll {
    overflow: hidden;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}


::-webkit-scrollbar-thumb {
    background: #A8A8A8;
    border-radius: 7px;
}

.parentContainer {
    margin-left: 300px;
    position: relative;
    background-color: #F5F5F5;
    height: 100%;
}

/* -----------------------------------startpage---------------------------------------------------- */

.startpage {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text {
    margin-top: 10px;
    width: 60%;
    text-align: center;
}

.text p {
    color: #575757;
    margin-top: 48px;
    margin-bottom: 32px;
    font-weight: bold;
}

.text span {
    color: rgb(219, 0, 0);
}

.startheadline {
    display: flex;
    position: fixed;
    top: 32px;
    left: 0;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: rgb(32, 49, 146);
}

.startheadline img {
    object-fit: contain;
    width: 50px;
}

.startMainpage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 50vh;
    margin-bottom: 64px;
}

.borderOutline {
    border-bottom: 1px solid #929292 !important;
}

.colorSpan {
    color: #575757 !important;
    font-size: 16px;
}

.colorSpan:hover {
    text-decoration: underline;
}

.footer {
    position: absolute;
    bottom: 24px;
}

/* -----------------------------------Page Headline---------------------------------------------------- */

.headline {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}

.headline h1 {
    font-size: 61px;
    font-weight: 700;
    margin: 0;
    margin-bottom: 60px;
    margin-top: 40px;
}

.hlSeperator {
    width: 4px;
    height: 59px;
    background-color: #29ABE2;
    border-radius: 3px;
}

.subheadline {
    font-weight: 400;
    font-size: 27px;
    color: #2A3647;
}

.headline span {
    color: #203192;
}


/* -----------------------------------Help---------------------------------------------------- */

.helpMainpage {
    margin-left: 150px;
    color: rgb(230, 230, 230);
}

.helpMainpage div {
    background-color: rgba(32, 49, 146, 0.7);
    padding: 8px;
    border-radius: 10px;
    margin-top: 16px;
    width: 90%;
}


/*------------------------- recurring animations -------------------------*/

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade-out {
    100% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}

@keyframes slipe-up {
    0% {
        transform: translateY(200px);
    }

    100% {
        transform: translateX(0px);
    }
}

@keyframes slipe-down {
    0% {
        transform: translateX(0px);
    }

    100% {
        transform: translateY(200px);
    }
}

@keyframes moveToLeft {
    0% {
        transform: translateX(2400px);
    }

    100% {
        transform: translateX(200px);
    }
}



/* ----------------------------------------Message Box---------------------------------------- */

.msgBox {
    display: flex;
    justify-content: center;
    align-items: center;
    --width: 326px;
    width: var(--width);
    background: #2A3647;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    font-weight: 400;
    font-size: 23px;
    color: #FFFFFF;
    position: fixed;
    top: 90%;
    left: calc(50% - (var(--width)));
    right: calc(50% - (var(--width)));
    cursor: pointer;
    z-index: 999;
}

.animationFadeIn {
    animation: slipe-up 200ms forwards;
}

.animationFadeOut {
    animation: slipe-down 200ms forwards;
}

/* ----------------------------------------Media Querrys---------------------------------------- */

@media (max-width: 1395px) {
    .parentContainer {
        margin-left: calc(123px + 190px);
    }
}

@media (max-width: 1300px) {
    .parentContainer {
        margin-left: calc(123px + 180px);
    }
}

@media (max-width: 1270px) {
    .parentContainer {
        margin-left: calc(123px + 160px);
    }
}

@media (max-width: 1220px) {
    .parentContainer {
        margin-left: calc(232px + 20px);
    }
}

@media (max-width: 760px) {
    .parentContainer {
        margin-left: 25px;
        position: relative;
    }

    .msgBox {
        top: 80%;
    }
}

@media(max-width: 680px) {
    .text p {
        margin-top: 32px;
        margin-bottom: 24px;
        margin-left: 16px;
        margin-right: 16px;
    }

    .headline h1 {
        font-size: 50px;
    }
}

@media (max-height: 610px) {
    .startheadline {
        display: none;
    }
}

@media(max-width: 480px) {
    .text {
        font-size: 13px;
        width: 90%;
        margin-top: 10px;
    }

    .startMainpage {
        justify-content: center;
    }

    .colorSpan {
        font-size: 14px;
    }
}

@media(max-width: 430px) {
    .startheadline h1 {
        font-size: 26px;
    }

    .text p {
        font-size: 14px;
    }

    .text span {
        font-size: 14px;
    }

    .msgBox {
        width: 300px;
        font-size: 16px;
    }
}

@media(max-width: 370px) {
    .startheadline {
        top: 16px;
    }

    .startheadline img {
        display: none;
    }

    .startheadline h1 {
        text-align: center;
    }

    .startMainpage {
        height: 63vh;
    }
}

/* background blur */

.backgroundBlur {
    background-color: #38383860;
    backdrop-filter: blur(5px);
}

@media(max-height: 670px) {
    .parentContainer {
        margin-left: 32px;
    }
}