.content {
    display: flex;
}

/* ---------- Card Container ---------- */

.cardContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 35px;
}

.cardContainerRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 35px;
}

.mainCard {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 35px;

    width: 682px;
    height: 191px;

    background: #4589FF;
    color: #FFFFFF !important;

    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.16);
    border-radius: 30px;
}

.mainCard img {
    border: 2px solid #FFFFFF;
    border-radius: 100%;
}

.basicCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 9px;

    width: 140px;
    height: 113px;
}

.cardHead {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.cardImg {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 56px;
}

.cardCounter {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
}

.cardDescription {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
}

.cardExtension {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 13px;

    border-left: 3px solid #FFFFFF;
    padding-left: 26px;
    height: 145px;
}

.cardDate {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 33px;
}

.secondaryCard {
    width: 208px;
    height: 191px;

    background-color: #D2E3FF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.16);
    border-radius: 30px;
}

.smallCard {
    width: 204px;
    height: 219px;

    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.16);
    border-radius: 30px;
}

.mainColor {
    color: #4589FF;
}

/* ---------- Welcome Message ---------- */

.welcomeMessage {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 22px;
    
    font-family: 'Open Sans';
    font-style: normal;

    margin-bottom: 78px;
}

.greeting {
    color: #2A3647;
    font-weight: 400;
    font-size: 48px;
}

.userName {
    color: #4589FF;
    font-weight: 700;
    font-size: 62px;
}