/* ---------- Headline ---------- */
.hlSummary {
    gap: 30px;
}

/* ---------- Content ----------- */

.content {
    display: flex;
}

/* ---------- Card Container ---------- */

.cardContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 35px;
}

.cardContainerRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 35px;
}

.smallCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px 0px;
    gap: 13px;

    width: 170px;
    height: 170px;

    background: #FFFFFF;

    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
}

.cardCounter {
    font-weight: 600;
    font-size: 64px;
}

.cardDescription {
    font-weight: 400;
    font-size: 21px;
    text-align: center;
    color: #2A3647;
}

.bigCard {
    display: flex;
}

.middleCard {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 38px 19px;
    gap: 18px;

    width: 272.5px;
    height: 150px;

    background: #FFFFFF;

    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
}

/* ---------- Welcome Message ---------- */

.welcomeMessage {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 22px;
    
    font-family: 'Open Sans';
    font-style: normal;

    margin-bottom: 78px;
}

.greeting {
    color: #2A3647;
    font-weight: 400;
    font-size: 48px;
}

.userName {
    color: #4589FF;
    font-weight: 700;
    font-size: 62px;
}