/* ---------- Content ----------- */

.content {
    display: flex;
    padding-top: 25px;
    padding-bottom: 25px;
    align-items: center;
    gap: 125px;
    margin-bottom: 80px;
}

/* ---------- Headline ---------- */

.headline h1 {
    margin-bottom: 20px !important;
}

/* ---------- Card Container ---------- */

.cardContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 35px;
    /* width: 580px; */
    height: 540px;
}

.cardContainerRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 35px;
    width: 580px;
}

.smallCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px 0px;
    gap: 5px;

    width: 170px;
    min-height: 150px;

    background: #FFFFFF;
    color: #2A3647;

    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 30px;

    transition: 250ms;
}

.smallCard:hover {
    background-color: #2A3647;
    color: #FFFFFF;
    scale: 1.05;
}

.cardCounter {
    font-weight: 600;
    font-size: 64px;
}

.cardDescription {
    font-weight: 400;
    font-size: 16px;
    text-align: center;
}

.bigCard {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 24px 76px;
    gap: 60px;

    background: #FFFFFF;
    color: #2A3647;

    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 30px;

    transition: 250ms;
}

.bigCard:hover {
    background-color: #2A3647;
    color: #FFFFFF;
    scale: 1.05;
}

.bcLeft {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 18px;
}

.cardInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
}

.bcSeperator {
    width: 4px;
    height: 102px;

    background-color: #D1D1D1;
    border-radius: 3px;
}

.bgRight {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 13px;
}

.cardDate {
    font-weight: 700;
    font-size: 21px;
    line-height: 120%;
}

.middleCard {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 18px;

    width: 250.5px;
    height: 150px;

    background: #FFFFFF;
    color: #2A3647;

    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    transition: 250ms;
}

.middleCard:hover {
    scale: 1.05;
    background-color: #2A3647;
    color:#FFFFFF
}

.middleCard:hover img {
    filter: invert() brightness(2);
}

/* ---------- Welcome Message ---------- */

.welcomeMessage {
    justify-content: center;
    align-items: center;
    gap: 22px;
    font-style: normal;
    margin-bottom: 28px;
}

.greeting {
    color: #2A3647;
    font-weight: 400;
    font-size: 48px;
}

.userName {
    color: #4589FF;
    font-weight: 700;
    font-size: 62px;
}

@media (max-width: 1100px) {
    .cardContainerRow {
        width: 500px;
    }
    .content {
        gap: 15px;
    }
}

@media (max-width: 1000px) {
    .content {
        justify-content: center;
    }
    .welcomeMessage {
        display: none;
    }
}

@media (max-width: 760px) {
    .parentContainer {
        margin-left: 0px !important;
    }
    .headline{
        flex-direction: column !important;
        width: fit-content;
        margin: auto;
        gap: 15px !important;
    }

    .headline h1{
        margin-bottom: 0 !important;
        margin-top: 20px !important;
    }

    .hlmobile{
        flex-direction: column-reverse !important;
    }

    .hlSeperator{
        width: 177px !important;
        height: 4px !important;
    }

    .content {
        display: flex;
        flex-direction: column-reverse;
    }

    .welcomeMessage {
        display: block;
        position: fixed;
        background-color: #F5F5F5;
        top: 100px;
        width: 760px !important;
        height: 1170px !important;
        text-align: center;
        padding-top: calc(50% - 50px);
        animation: fade-out 2000ms forwards;
    } 
    .content {
        padding-top: 0;
        padding-bottom: 0;
    }
    .cardContainer {
        scale: 0.8;
    }   
}

@media (max-width: 500px) {
    .subheadline {
        display: none;
    }
    .content {
        margin-top: 0;
    } 
    .cardContainer {
        scale: 0.7;
    } 
    .greeting {
        font-size: 34px; 
     }
     .userName{
         font-size: 48px;
     } 
}

@media (max-width: 440px) {
    .content {
        height: 500px;
    }
    .cardContainer {
        scale: 0.6;
    } 
}

@media (max-width: 360px) {
    .cardContainer {
        scale: 0.5;
    } 
    .content {
        height: 450px;
    }
}

@media (max-width: 310px) {
    .cardContainer {
        scale: 0.45;
    }
}

/* @media (max-height: 760px) and (min-width: 1000px) {
    .cardContainer {
        scale: 0.7;
    }
    .content {
        height: 400px;
        gap: 0px;
    }
    .headline h1 {
        margin-top: 10px;
    }
}

@media (max-height: 760px) and (min-width: 900px) {
    .cardContainer {
        scale: 0.5;
    }
    .content {
        height: 400px;
        gap: 0px;
    }
    .headline h1 {
        margin-top: 10px;
    } 
}*/