<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/desktop_template.css">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/fonts.css">
    <title>header</title>
</head>

<body>

    <div class="header-line">
        <div class="logo-img" onclick="goToAddTask()">
            <a href="#"><img src="img/logo-black.svg"></a>
        </div>
        <span class="kanban-text">Kanban Project Managment Tool</span>

        <div class="headline-img">
            <a href="help.html"><img src="img/quetionmark.svg"></a>
            <div class="profile-img"></div>
        </div>
    </div>
    <div id="header" class="header">

        <div class="headerTop">

            <a href="#" onclick="goToAddTask()"><img class="headerTop-img" src="img/Capa 1.svg"></a>

            <div class="navbar">

                <div onclick="goToSummary()" id="hover-active1">
                    <a href="summary.html"><img src="img/summary.svg"></a>
                    <a href="summary.html">Summary</a>
                </div>
                <div onclick="goToBoard()" id="hover-active2">
                    <a href="board.html"><img src="img/board.svg"></a>
                    <a href="board.html">Board</a>
                </div>
                <div onclick="goToAddTask()" id="hover-active3">
                    <a href="addTask.html"><img src="img/addTask.svg"></a>
                    <a href="addTask.html">Add Task</a>
                </div>
                <div onclick="goToContacts()" id="hover-active4">
                    <a href="contacts.html"><img src="img/contacts.svg"></a>
                    <a href="contacts.html">Contacts</a>
                </div>

            </div>
        </div>

        <div class="headerBottom">
            <div id="">
                <a href=""><img src="img/exclamationMark.svg"></a>
                <a href="index.html">Legal notice</a>
            </div>


        </div>
    </div>

    <div class="mobile-menu-container">
        <div class="mobile-menu">
            <a href="summary.html"><img src="img/summary.svg"><a href="summary.html">Summary</a></a>
        </div>
        <div class="mobile-menu">
            <a href="board.html"><img src="img/board.svg"><a href="summary.html">Board</a></a>
        </div>
        <div class="mobile-menu">
            <a href="addTask.html"><img src="img/addTask.svg"><a href="summary.html">Add Task</a></a>
        </div>
        <div class="mobile-menu">
            <a href="contacts.html"><img src="img/exclamationMark.svg"><a href="summary.html">Contacts</a></a>
        </div>

    </div>

</body>

</html>